@import url("https://fonts.googleapis.com/css?family=Asap|Roboto|Work+Sans|Quicksand:300");
body {
  text-align: justify;
  font-family: 'Quicksand', sans-serif;
}

@media screen and (max-width: 1024px) {
  .navbar {
    padding: 0rem 1rem;
  }
}

section {
  background-color: #f2f2f2;
  text-align: center;
  padding-bottom: 40px;
}

@media screen and (max-width: 1024px) {
  section {
    padding: 1em;
    grid-gap: 0;
  }
}

section h2 span {
  margin-top: -60px;
  padding-bottom: 60px;
  display: block;
}

section:nth-of-type(2n) {
  background-color: #ac4591;
  color: #f2f2f2;
}

section:nth-of-type(2n+1) {
  color: #27245f;
}

#vis {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

#home {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

#home .container {
  z-index: 1;
  padding: 0;
}

#home .container .logo {
  max-width: 50vw;
  margin: 0;
}

#home .container .description {
  font-family: 'Work Sans', sans-serif;
  height: 100%;
  margin: 0;
}

#home .container .description h1 {
  color: #ac4591;
  text-align: justify;
  font-size: 2em;
  font-weight: 500;
  text-align: center;
}

#home .container .description h5 {
  color: #27245f;
}

#home .container .description a:hover,
#home .container .description a:active,
#home .container .description a:focus {
  border: none;
  text-decoration: none;
}

#home .container .description button {
  text-align: center;
  padding: 0.7em 3em;
  border-color: #27245f;
  border-radius: 2em;
  background-color: #ac4591;
  color: #f2f2f2;
}

#home .container .description button:hover {
  cursor: pointer;
}

#home .container .description > * {
  padding: 10px 10px;
}

#service .container {
  padding: 0;
}

#service .container .row {
  border-radius: 3em;
  font-size: 1.3em;
}

@media screen and (max-width: 1024px) {
  #service .container .row {
    font-size: 1.3em;
  }
}

#service .container .icon img {
  max-height: 80px;
  max-width: 80px;
  color: #f2f2f2;
}

#service .container .row:nth-of-type(n+2) {
  color: #f2f2f2;
  padding: 2em;
}

#whyus .container .mycard-holder {
  padding: 1em;
}

#whyus .container .mycard-holder .mycard {
  border-right: 1px solid #ac4591;
  padding: 0;
  margin: 0;
}

#whyus .container .mycard-holder .mycard .cardimg {
  padding: .3em;
  margin: 0;
}

#whyus .container .mycard-holder .mycard .cardimg img {
  max-height: 50px;
}

#whyus .container .mycard-holder .mycard .cardtext p {
  margin: 0;
  font-size: 1.5em;
}

@media screen and (max-width: 768px) {
  #projects .col-6 {
    margin: 5px 0px;
    padding: 0px 5px;
  }
}

#projects img {
  min-width: 20px;
  min-height: 10px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
}

#clients .container .row .main-title {
  margin-bottom: 20px;
}

#about .container .col-12 .mission {
  padding: 50px 0px;
  font-size: 1.5em;
  text-align: justify;
}

#about .container .col-12 .row .col-12 {
  padding: 20px 0px;
}

#about .container .col-12 .row .contact-info a {
  font-size: 1.2em;
  margin: 10px 0px;
}

#about .container .col-12 .row .location-info img {
  max-width: 100%;
  border: 1px solid #ac4591;
}

#contact .container .row {
  width: 100%;
}

#contact .container .row .main-title {
  margin-bottom: 20px;
}

#contact .container .row form {
  width: 60%;
}

@media screen and (max-width: 1024px) {
  #contact .container .row form {
    width: 80%;
  }
}

#contact .container .row form .col .row {
  margin: 10px 0px;
  padding: 10px 0px;
}

#contact .container .row form .col .row input:focus {
  background-color: #f2f2f2;
}

#contact .container .row form #submit-form {
  color: #f2f2f2;
  background-color: #ac4591;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px 30px;
  border-radius: 50px;
  border: 2px solid #f2f2f2;
}

footer {
  height: 25px;
  text-align: center;
}

footer p {
  color: #ac4591;
  margin: 0;
}

.btn:focus,
.btn:active,
button:focus,
button:active {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

#image-gallery .modal-footer {
  display: block;
}

.thumb {
  margin-top: 15px;
  margin-bottom: 15px;
}
/*# sourceMappingURL=style.css.map */