@import url('https://fonts.googleapis.com/css?family=Asap|Roboto|Work+Sans');
$cb:#27245f;
$cp:#ac4591;
$cw:#f2f2f2;
html {
    scroll-behavior: smooth;
}

body {
    text-align: justify;
    font-family: 'Roboto', sans-serif; // font-family: 'Work Sans', sans-serif;
    // font-family: 'Asap', sans-serif;
}

section {
    // max-height: 100vh;
    // width: 100vw;
    background-color: $cw;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
    @media screen and (max-width: 1024px) {
        // max-height: 200vh;
        padding: 1em;
        padding-top: 70px;
        grid-gap: 0;
    }
}

section:nth-of-type(2n) {
    background-color: $cp;
    color: $cw;
}

section:nth-of-type(2n+1) {
    color: $cb;
}

#home {
    min-height: 100vh;
    .container {
        // padding-top:50px;
        .logo {
            max-width: 50vw;
            margin: 0;
        }
        .description {
            font-family: 'Work Sans', sans-serif;
            height: 100%;
            margin: 0;
            h1 {
                color: $cp;
                text-align: justify; // color: $cp;
                font-size: 2em;
                font-weight: 500;
                text-align: center;
            }
            h5 {
                color: $cb;
            }
            a:hover,
            a:active,
            a:focus {
                // cursor:pointer;
                border:none;
                text-decoration: none;
            }
            button {
                text-align: center;
                padding: 0.7em 3em;
                border-color: $cb;
                border-radius: 2em;
                background-color: $cp;
                color:$cw;
                // @media screen and (max-width:1024px){
                //     padding:0.7em 3em;
                // }
            }
            button:hover {
                cursor: pointer;
            }
            >* {
                padding: 10px 10px;
            }
        }
    }
}

#service {
    .container {
        .row {
            margin: 1em;
            padding: 2em;
            border-radius: 3em; // border:2px solid white;
            .main-title {
                // margin-bottom: 20px;
            }
            .col-12 {
                p {
                    text-align: justify;
                    font-weight: 500;
                    margin: 0;
                    color:$cb;
                }
            }
        }
        .row:nth-of-type(n+2) {
            background-color: $cw;
            color: $cp;
        }
    }
}

#projects {
    .container {
        .row {
            .main-title {
                margin-bottom: 20px;
            }
        }
    }
}

#clients {
    .container {
        .row {
            .main-title {
                margin-bottom: 20px;
            }
        }
    }
}

#about {
    .container {
        .row {
            .main-title {
                p {
                    text-align: justify;
                }
            }
            .card-group {
                >* {
                    margin: 10px; // padding:10px;
                }
                .card {
                    // height: 60px;
                    background-color: rgba($color: #000000, $alpha: 0);
                    margin: 10px;
                    .card-img-top {}
                    .card-body {
                        .card-title {}
                        .card-text {}
                    }
                }
            }
        }
    }
}

#contact {
    .container {
        .row {
            .main-title {
                margin-bottom: 20px;
            }
            form {
                width: 60%;
                @media screen and (max-width: 1024px) {
                    width:80%;
                }
                .col {
                    .row {
                        margin: 10px 0px;
                        padding: 10px 0px;
                        input:focus {
                            background-color: $cp;
                        }
                    }
                }
            }
        }
    }
}