@import url('https://fonts.googleapis.com/css?family=Asap|Roboto|Work+Sans|Quicksand:300');
$cb:#27245f;
$cp:#ac4591;
$cw:#f2f2f2;
body {
    text-align: justify; 
    font-family: 'Quicksand', sans-serif;
}

.navbar {
    @media screen and (max-width: 1024px) {
        padding:0rem 1rem;
    }
}

section {
    background-color: $cw;
    text-align: center;
    padding-bottom: 40px;
    @media screen and (max-width: 1024px) {
        padding: 1em;
        grid-gap: 0;
    }
    h2 span {
        margin-top: -60px;
        padding-bottom: 60px;
        display: block;
    }
}

section:nth-of-type(2n) {
    background-color: $cp;
    color: $cw;
}

section:nth-of-type(2n+1) {
    color: $cb;
}

#vis {
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

#home {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    .container {
        z-index: 1;
        padding: 0;
        .logo {
            max-width: 50vw;
            margin: 0;
        }
        .description {
            font-family: 'Work Sans', sans-serif;
            height: 100%;
            margin: 0;
            h2 {
                color: $cp;
                text-align: justify;
                font-size: 2.5em;
                font-weight: 500;
                text-align: center;
            }
            h5 {
                color: $cb;
            }
            a:hover,
            a:active,
            a:focus {
                border: none;
                text-decoration: none;
            }
            button {
                text-align: center;
                padding: 0.7em 3em;
                border-color: $cb;
                border-radius: 2em;
                background-color: $cp;
                color: $cw; 
            }
            button:hover {
                cursor: pointer;
            }
            >* {
                padding: 10px 10px;
            }
        }
    }
}

#service {
    .container {
        padding: 0;
        @media screen and (max-width: 1024px) {}
        .row {
            border-radius: 3em; 
            font-size: 1.3em;
            @media screen and (max-width: 1024px) {
                font-size: 1.3em;
            }
        }
        .icon {
            img {
                max-height: 80px;
                max-width: 80px;
                color: $cw;
            }
        }
        .row:nth-of-type(n+2) {
            color: $cw;
            padding: 2em;
        }
    }
}

#whyus {
    .container {
        .mycard-holder {
            padding: 1em;
            .mycard {
                border-right: 1px solid $cp;
                padding: 0;
                margin: 0;
                .cardimg {
                    padding: .3em;
                    margin: 0;
                    img {
                        max-height: 50px;
                    }
                }
                .cardtext {
                    p {
                        margin: 0;
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
}

#projects {
    .col-6 {
        @media screen and (max-width: 768px) {
            margin: 5px 0px;
            padding: 0px 5px; 
        }
    }
    img {
        min-width: 20px;
        min-height: 10px;
        background-color: $cw;
        border: 1px solid $cw;
    }
}

#clients {
    .container {
        .row {
            .main-title {
                margin-bottom: 20px;
            }
        }
    }
}

#about {
    .container {
        .col-12 {
            .mission {
                padding:50px 0px;
                font-size: 1.5em;
                text-align: justify;
            }
            .row {
                .col-12{
                    padding:20px 0px;
                }
                .contact-info {
                    a {
                        font-size: 1.2em;
                        margin: 10px 0px;
                    }
                }
                .location-info {
                    img {
                        max-width: 100%;
                        border: 1px solid $cp;
                    }
                }
            }
        }
    }
}

#contact {
    .container {
        .row {
            width: 100%;
            .main-title {
                margin-bottom: 20px;
            }
            form {
                width: 60%;
                @media screen and (max-width: 1024px) {
                    width:80%;
                }
                .col {
                    .row {
                        margin: 10px 0px;
                        padding: 10px 0px;
                        input:focus {
                            background-color: $cw;
                        }
                    }
                }
                #submit-form{
                    color: $cw;
                    background-color: $cp;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    padding: 8px 30px;
                    border-radius: 50px;
                    border: 2px solid $cw;
                }
            }
        }
    }
}

footer {
    height: 25px;
    text-align: center;
    p {
        color: $cp;
        margin: 0;
    }
}

.btn:focus,
.btn:active,
button:focus,
button:active {
    outline: none !important;
    box-shadow: none !important;
}

#image-gallery .modal-footer {
    display: block;
}

.thumb {
    margin-top: 15px;
    margin-bottom: 15px;
}